
<div class="title">Registro de usuarios</div>
<form name="main.addUserNew" ng-submit="main.addUserNew.$valid &amp;&amp; main.submituser()" novalidate="novalidate">
  <h4>Información de usuario</h4>
  <div class="row mt-15">
    <div class="col-8">
      <label for="comments">ID Usuario</label>
      <input ng-model="main.newUserRegister.user" name="comments" required="required"/>
      <div class="input-error" ng-if="main.addUserNew.$submitted" ng-messages="main.addUserNew.comments.$error"><span ng-message="required">Este campo es requerido</span>
      </div>
    </div>
    <div class="col-4">
      <label>Area Global Marker</label>
      <dropdown name="area" label="txCatalogo" model="main.userDetail.area" options="main.Area"></dropdown>
      <div class="input-error" ng-if="main.addUserNew.$submitted" ng-messages="main.addUserNew.area.$error"><span ng-message="required">Este campo es requerido</span>
      </div>
    </div>
  </div>
  <h4>Asignación de permisos</h4>
  <div class="row mt-15">
    <div class="col-6">
      <label>Grupo</label>
      <input class="search" ng-model="main[main.userDetail.group].filterSearch" type="search"/>
      <div class="filter-search" ng-show="main[main.userDetail.group].filterSearch">
        <ul>
          <li ng-repeat="item in main.userDetail.group | filter:main[main.userDetail.group].filterSearch">
            <input ng-click="$event.stopPropagation();" id="{{$index}}" name="{{item.nbGroup}}" ng-model="item.check" txt="{{ item.nbGroup }}" type="checkbox" value="{{item.check}}"/>
            <label class="checkbox" for="{{$index}}" ng-click="$event.stopPropagation();"></label>
            <label class="txt" for="{{$index}}">{{ item.nbGroup }}</label>
          </li>
        </ul>
      </div>
      <div class="input-error" ng-if="main.historicalStatus.$submitted" ng-messages="main.historicalStatus.dtCambioEstatusUsuario.$error"><span ng-message="required">Este campo es requerido</span>
      </div>
    </div>
    <div class="col-6">
      <label for="comments">Asset class</label>
      <div class="row mb-15">
        <input ng-click="$event.stopPropagation();" id="Equity" name="Equity" ng-change="main.initMountDisable('ctMontoAutorizado', main.request.stMontoAutorizado)" ng-model="main.newUserRegister.Equity" txt="Equity" type="checkbox" value="asset"/>
        <label class="checkbox" for="Equity" ng-click="$event.stopPropagation();"></label>
        <label class="txt" for="Equity">Equity</label>
      </div>
      <div class="row mb-15">
        <input ng-click="$event.stopPropagation();" id="RCC" name="RCC" ng-model="main.newUserRegister.RCC" txt="RCC" type="checkbox" value="asset"/>
        <label class="checkbox" for="RCC" ng-click="$event.stopPropagation();"></label>
        <label class="txt" for="RCC">RCC</label>
      </div>
    </div>
  </div>
  <div class="row mt-20 align-center">
    <div class="col-12">
      <button class="btn mr-15" type="submit">Registrar</button>
    </div>
  </div>
</form>